## Observations and Insights

In [141]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
df = pd.merge(mouse_metadata, study_results, on= "Mouse ID", how= "outer")

# Display the data table for preview
df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumour Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [142]:
# Checking the number of mice.
unique_mice = df["Mouse ID"].unique()
print(f'The number of mice in the study is {len(unique_mice)}.')

The number of mice in the study is 249.

In [143]:
grouped_df = df.groupby(['Mouse ID'])

grouped_df.count()

,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumour Volume (mm3),Metastatic Sites
Mouse ID,,,,,,,
a203,10,10,10,10,10,10,10
a251,10,10,10,10,10,10,10
a262,10,10,10,10,10,10,10
a275,10,10,10,10,10,10,10
a366,7,7,7,7,7,7,7
...,...,...,...,...,...,...,...
z435,3,3,3,3,3,3,3
z578,10,10,10,10,10,10,10
z581,10,10,10,10,10,10,10
z795,10,10,10,10,10,10,10
z969,10,10,10,10,10,10,10

In [144]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
df['Mouse ID'].value_counts()

g989    13
u327    10
c559    10
n304    10
c832    10
        ..
x336     1
t573     1
u153     1
l872     1
o848     1
Name: Mouse ID, Length: 249, dtype: int64

In [148]:
# Optional: Get all the data for the duplicate mouse ID. 
print(df.loc[(df["Mouse ID"]== "g989")])

# We can see Mouse ID g989 has duplicate data points for the same Timepoint

    Mouse ID Drug Regimen     Sex  Age_months  Weight (g)  Timepoint  \
908     g989     Propriva  Female          21          26          0
909     g989     Propriva  Female          21          26          0
910     g989     Propriva  Female          21          26          5
911     g989     Propriva  Female          21          26          5
912     g989     Propriva  Female          21          26         10
913     g989     Propriva  Female          21          26         10
914     g989     Propriva  Female          21          26         15
915     g989     Propriva  Female          21          26         15
916     g989     Propriva  Female          21          26         20
917     g989     Propriva  Female          21          26         20
918     g989     Propriva  Female          21          26         25
919     g989     Propriva  Female          21          26         30
920     g989     Propriva  Female          21          26         35

     Tumour Volume (mm3)  Metastatic Sites
908            45.000000                 0
909            45.000000                 0
910            48.786801                 0
911            47.570392                 0
912            51.745156                 0
913            49.880528                 0
914            51.325852                 1
915            53.442020                 0
916            55.326122                 1
917            54.657650                 1
918            56.045564                 1
919            59.082294                 1
920            62.570880                 2

In [139]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
# Create a list that includes the rows that have duplicate data and attach variable to this list.
duplicate_data = df[(df["Mouse ID"] == "g989")].index

# Drop rows of duplicate data
df_clean = df.drop(duplicate_data)

#Check to see that Mouse ID with 13 data points has been dropped
df_clean['Mouse ID'].value_counts()

h246    10
c559    10
n304    10
c832    10
s508    10
        ..
x336     1
t573     1
u153     1
l872     1
o848     1
Name: Mouse ID, Length: 248, dtype: int64

In [140]:
# Checking the number of mice in the clean DataFrame.
unique_mice_clean = df_clean["Mouse ID"].unique()
print(f'The number of mice in the study is {len(unique_mice_clean)}.')

The number of mice in the study is 248.

## Summary Statistics

In [95]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumour volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumour volume. 
# Assemble the resulting series into a single summary dataframe.

In [96]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumour volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [97]:
# Generate a bar plot showing the total number of timepoints for all mice tested for each drug regimen using Pandas.

In [98]:
# Generate a bar plot showing the total number of timepoints for all mice tested for each drug regimen using pyplot.

In [99]:
# Generate a pie plot showing the distribution of female versus male mice using Pandas

In [100]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [101]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumour volume at the last timepoint

In [102]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumour vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumour volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [103]:
# Generate a box plot of the final tumour volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [104]:
# Generate a line plot of tumour volume vs. time point for a mouse treated with Capomulin

In [105]:
# Generate a scatter plot of average tumour volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [106]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumour volume for the Capomulin regimen